<div class="card">
    <div class="card-top">
        <span class="card-top-label" *ngFor="let label of card.labels">{{label.title}}</span>
    </div>
    <div class="card-middle">
        <p>{{card.title}}</p>
        <p>{{card.description}}</p>
    </div>
    <div class="card-bottom">
        <div class="card-bottom-date">
            <span></span>
            {{card.createdAt| date:'mediumDate'}}
        </div>
        <div class="card-bottom-todo">
            3/3
        </div>
    </div>
</div>