.board {
    min-width: 290px;
    width: 290px;
    height: 100%;
    overflow-y: auto;
    flex-basis: 290px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #17394d;
}

.board-inner {
    background-color: rgb(223 227 230 / 55%);
    padding: 15px;
    border-radius: 3px;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.board-header-title {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    gap: 5px;
    align-items: center;
}

.board-header-title span {
    color: rgb(145, 145, 145);
}

.board-cards {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.board-card-button {
    display: flex;
    width: 100%;
    text-align: center;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/* The Modal (background) */
.modal {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 550px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}